<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
<!--    <include resource="org/springframework/boot/logging/logback/base.xml" />-->

    <springProfile name="local">
        <property name="MAIN_LOG_FILE" value="C:\_TEMP\Logs\SpringBootLogs\springApp.log"/>
        <property name="ROLLING_LOG_FILE" value="C:\_TEMP\Logs\SpringBootLogs\springApp-%d{yy-MM-dd}.%i.log"/>
        <property name="CUSTOM_LOG_FILE" value="C:\_TEMP\Logs\SpringBootLogs\CustomFileAppender\customLog.log"/>
    </springProfile>
    <springProfile name="dev">
        <property name="MAIN_LOG_FILE" value="/var/tmp/SpringBootLogs/springApp.log"/>
        <property name="ROLLING_LOG_FILE" value="/var/tmp/SpringBootLogs/springApp-%d{yy-MM-dd}.%i.log"/>
        <property name="CUSTOM_LOG_FILE" value="/var/tmp/SpringBootLogs/CustomFileAppender/customLog.log"/>
    </springProfile>


    <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
<!--                %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} : %msg %n-->
                %d{yy-MM-dd HH:mm:ss.SSS} [%thread] [%method] [%r]ms %-5level %logger{36} : %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerData>true</includeCallerData>
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.CompositeJsonGeneratorDecorator">
                <decorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
                <decorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                    <defaultMask>XXXX</defaultMask>
                    <path>password</path>
                </decorator>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <appender name="myRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>
                ${MAIN_LOG_FILE}
            </file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${ROLLING_LOG_FILE}</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <!-- keep 30 days' worth of history capped at 3GB total size -->
                <maxHistory>30</maxHistory>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
        <encoder>
            <pattern>
                %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} : %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name="myCustomFileAppender" class="ch.qos.logback.core.FileAppender">
            <file>
                ${CUSTOM_LOG_FILE}
            </file>
        <encoder>
            <pattern>
                %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} : %msg %n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.java.springboot.controllers.StatusController" level="trace" additivity="false">
        <appender-ref ref="myCustomFileAppender"/>
        <appender-ref ref="myConsoleAppender"/>
<!--        <appender-ref ref="jsonConsoleAppender"/>-->
    </logger>

    <root level="INFO">
        <appender-ref ref="myRollingFileAppender"/>
        <appender-ref ref="myConsoleAppender"/>
    </root>

<!--    Used to disable logging for a specific class-->
<!--    <logger name="com.java.springboot.controllers.StatusController" level="OFF"/>-->

</configuration>