h2 {color: blue}

td:nth-child(3) {
    text-align: right;
}

table {
    min-width: 30%;
    margin: auto;
}

body {
  padding-top: 5rem;
}
.container {
  padding: 3rem 1.5rem;
  text-align: center;
  margin : 0px auto;
  width:100%;
}
